/*CSS Demo*/

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    font-family: "Times New Roman", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  
  main {
    width: 80vw;
    max-width: 960px;
  }
  header.primary{
    background-color: #f7bee5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23eb7feb' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
    color:#ffffff;
    text-align: center;
    text-shadow: 1px 1px #000;
  /*long form*/
    padding-top: 4opx;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /*single value short hand*/
    padding: 40px;
    /*T,R,B,L*/
    padding: 20px 40px 20px 40px;
    /*Two value Top/Bottom/ L/R*/
    padding: 20px 40 px;
  }
  header.primary h1{
    font-size:2.9rem;
    /*top | left and right | bottom */
    margin: 20px 0 0;
  }
  
  header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
  }
  
  h2{
    color: #9b59b6;
    text-align:center;
  }
  h3{
    color: #9b59b6;
    text-align:center;
  }
  
  nav.primary {
    background-color: #f7e6f7; 
    padding: 10px 0;
  }
  
  nav.primary ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  nav.primary ul li {
    list-style-type: none;
  }
  
  nav.primary ul li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid #C379E3; 
    padding: 10px 20px; 
    background-color: #000000; 
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    transition: 0.4s;
    position: relative; 
  }
  
  nav.primary ul li a:hover {
    color: white; 
    border: 1px solid #ff68b3; 
  }
  
  nav.primary ul li a:hover {
    box-shadow: none;
  }
  
  #blog {
    column-count: 3; 
    column-gap: 20px;
    padding: 20px;
    background-color: #f7e6f7; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    border-top: 2px solid #f8a5c2; 
    border-bottom: 2px solid #f8a5c2;
    padding-top: 40px;
  }
  
  #blog article.post {
    background-color: #f0c9f8;
    padding: 10px;
    font-size: .8rem;
    border-radius: 4px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    break-inside: avoid;
  }
  
  #blog article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  #blog article.post h2 {
    font-size: 1.2rem;
    color: #333;
  }
  
  #blog article.post p {
    color: #ff68b3;
  }
  
  #blog article.post a {
    color: #ff68b3;
    text-decoration: none;
  }
  
  #blog article.post a:hover {
    color: #ff5286;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    #blog {
      column-count: 1; 
    }
  }
  
  aside[role="complementary"] {
    background-color: #ffffff; 
    color: #ff68b3;
    padding: 40px;
    text-align: center; 
  }
  
  aside[role="complementary"] h2 {
    color: #f8a5c2; 
    text-align: center;
  }
  
  aside .container {
    display: block;
    gap: 20px;
  }
  
  aside .container a {
    color: #000000; 
    font-size: 1.0rem;
    text-decoration: none;
  }
  
  aside .container a:hover {
    color: #f8a5c2;
  }
  
  aside article footer {
    display: none; 
  }
  